body{
    background-color: #323144;
    width: 100%;
    overflow: hidden;
}

.square{
    position: absolute;
    width: 7.5vw;
    height: 2.4vw;
    rotate: -90deg;
    margin-top: 4.95vw;
    margin-left: 0.3vw;
}
.text{
    font-size: 1.38vw;
    font-family: "ABC-trial";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.15vw;
    color:#323144;
}
.box{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;

}
.box1{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 30%;

}
.box2{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 60%;
}
.square1{
    position: absolute;
    width: 12.8vw;
    height: 2.4vw;
    margin-top: 3.36vw;
    margin-left: 85vw;
}
.box3{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 1%;
}
.box4{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 25.7%;

}
.box5{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 43.4%;
}
.box6{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 60.95%;
}
.box7{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 78.5%;
}
.square2{
    position: absolute;
    width: 9vw;
    height: 2.4vw;
    margin-top: 53.2vw;
    margin-left: 88.3vw;
}
.box8{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
}
.box9{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 25.5%;
}
.box10{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 50.6%;
}
.box11{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 76%;
}
.text1{
    position: absolute;
    margin-top: 3.3vw;
    margin-left: 6.1vw;
    font-size: 1.7vw;
    font-family: "Arimo-Bold";
    height: 2.15vw;
    color:#FE6807;
}
.text7{
    position: absolute;
    margin-top: 3.3vw;
    margin-left: 6.1vw;
    font-size: 1.7vw;
    font-family: "Arimo-Bold";
    height: 2.15vw;
    color:#323144;
}
.text2{
    position: absolute;
    margin-top: 6.4vw;
    margin-left: 6.1vw;
    font-size: 1.05vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#FE6807;
    line-height: 1.2vw;
}
.text8{
    position: absolute;
    margin-top: 6.4vw;
    margin-left: 6.1vw;
    font-size: 1.05vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#323144;
    line-height: 1.2vw;
}
.text3{
    position: absolute;
    margin-top: 51.9vw;
    margin-left: 2.8vw;
    font-size: 1.05vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#FE6807;
    line-height: 1.2vw;
}
.buttun{
    position: absolute;
    margin-top: 6.6vw;
    margin-left: 89.64vw;
    width: 8vw;
    height: 2.7vw;
}
.button_bck{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 0.087vw;
    cursor: pointer;
}
.button_back{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 0.087vw;
    cursor: pointer;
}
.button_section1{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 2.3vw;
    cursor: pointer;
}
.pagge2{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 5.48vw;
    cursor: pointer;
}
.text4{
    font-size: 1.4vw;
    font-family: "ABC-trial";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vw;
    color:#323144;
}



.sectionnn {
    display: none;
}



.back{
    position: absolute;
    background-color: #FE6807;
    width: 100%;
    height: 100%;
}
.buttun1{
    position: absolute;
    margin-top: 6.6vw;
    margin-left: 89.64vw;
    width: 8vw;
    height: 2.7vw;
}
.pagge3{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 0vw;
    cursor: pointer;
}
.button_section3{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 2.3vw;
    cursor: pointer;
}
.pagge5{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 5.48vw;
    cursor: pointer;
}
.text5{
    position: absolute;
    margin-top: 53.05vw;
    margin-left: 2.8vw;
    font-size: 1.05vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#323144;
    line-height: 1.2vw;
}
.square3{
    position: absolute;
    width: 9vw;
    height: 2.4vw;
    margin-top: 46.6vw;
    margin-left: -0.45vw;
    rotate: -90deg;
}
.text6{
    position: absolute;
    margin-top: 51.9vw;
    margin-left: 76.3vw;
    font-size: 1.05vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#323144;
    line-height: 1.2vw;
}
.square4{
    position: absolute;
    width: 12vw;
    height: 2.4vw;
    margin-top: 44.5vw;
    margin-left: 89.91vw;
    rotate: 90deg;
}
.box12{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
}
.box13{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 2.3vw;
}
.box14{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 4.6vw;
}
.box15{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 6.9vw;
}
.box16{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 9.2vw;
}
.square5{
    position: absolute;
    width: 9vw;
    height: 2.4vw;
    margin-top: 3.36vw;
    margin-left: 88.24vw;
}
.square6{
    position: absolute;
    width: 4.4vw;
    height: 2.4vw;
    margin-top: 3.36vw;
    margin-left: 82.7vw;
}
.card{
    background-color: #EEF5DB;
    border: 0.115vw solid #323144;
    position: absolute;
    width: 52vw;
    height: 30vw;
    margin-top: 15vw;
    margin-left: 11vw;
}
.log{
    position: absolute;
    width: 51.8%;
    margin-top: 2vw;
    margin-left: 1.25vw;
}
.log img{
    width: 51.8%;
    border: 0.115vw solid #323144;
}
#dropArea{
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    position: absolute;
    width: 14vw;
    height: 18.8vw;
    margin-top: 6.2vw;
    margin-left: 1.25vw;
    cursor: pointer;
}
#previewImage {
    max-width: 200px;
    max-height: 200px;
    display: none; /* Скрываем до загрузки */
    object-fit: cover;
  }
.square7{
    position: absolute;
    width: 14vw;
    height: 2.4vw;
    margin-top: 25.8vw;
    margin-left: 1.25vw;
}
.box17{
    position: absolute;
    width: 2.7vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
}
.box18{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 3.08vw;
}
.box19{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 5.33vw;
}
.box20{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 7.6vw;
}
.box21{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 9.85vw;
}
.box22{
    position: absolute;
    width: 1.9vw;
    height: 1.9vw;
    background-color: #FE6807;
    border: 0.115vw solid #323144;
    margin-left: 12.09vw;
}
.liner{
    border: 0.015vw solid #323144;
    position: absolute;
    height: 25.8vw;
    margin-left: 16.6vw;
    margin-top: 2vw;
}
.text9{
    position: absolute;
    margin-top: 2vw;
    margin-left: 17.8vw;
    font-size: 1.7vw;
    font-family: "Arimo-Bold";
    height: 2.15vw;
    color:#323144;
}
.text10{
    position: absolute;
    margin-top: 3.8vw;
    margin-left: 17.8vw;
    font-size: 1.05vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#323144;
    line-height: 1.2vw;
}
.text11{
    position: absolute;
    margin-top: 7.8vw;
    margin-left: 17.8vw;
    font-size: 1.7vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#323144;
    line-height: 1.2vw;
}
.text12{
    position: absolute;
    margin-top: 10.7vw;
    margin-left: 17.8vw;
    font-size: 1.7vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#323144;
    line-height: 1.2vw;
}
.text13{
    position: absolute;
    margin-top: 13.6vw;
    margin-left: 17.8vw;
    font-size: 1.7vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#323144;
    line-height: 1.2vw;
}
.text14{
    position: absolute;
    margin-top: 16.5vw;
    margin-left: 17.8vw;
    font-size: 1.7vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#323144;
    line-height: 1.2vw;
}
.text15{
    position: absolute;
    margin-top: 19.4vw;
    margin-left: 17.8vw;
    font-size: 1.7vw;
    font-family: "Arimo-Regular";
    height: 2.15vw;
    color:#323144;
    line-height: 1.2vw;
}
.drawing{
    position: absolute;
    width: 25vw;
    height: 3.8vw;
    border: 0.115vw solid #323144;
    margin-left: 17.8vw;
    margin-top: 24vw;
    cursor: crosshair;
}